/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #f9f9f9;
  color: #993e01;
  font-family: cursive;
}

.navbar-inverse {
  background-color: #f4165b;
  border-color: #f4165b;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
}

a:visited {
  color: brown;
}

.navbar-brand {
  float: inherit;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}